// Place all the styles related to the Comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// application.html.erb
html {
  height: 100vh;
}

body {
  height: 100%;
}

.header {
  // background-color: skyblue;
  height:100px;
}

.siteName {
  float: left;
}

.title {
  line-height: 100px;
  margin:0;
}

.navToggle {
  display: block;
  position: relative;
  right: 13px;
  top: 12px;
}

// .hamburger {
//   position: absolute;
//   right: 30px;
// }

.hamburger-nav {
  display: none;
}

@media  (max-width: 754px){
  .uk-breadcrumb {
    display:none;
  }
  .navToggle {
    display: block;
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
  }
}

@media (min-width: 755px) {
  .uk-breadcrumb {
    display:flex;
  }
  .navToggle {
    display: none;
  }
}

.hum:hover {
  opacity: 1.0;
}

.hum-login {
  position: absolute;
  top: 100px;
  right: 30px;
}

.hum-new {
  position: absolute;
  top: 130px;
  right: 30px;
}

.uk-breadcrumb {
  
  margin: 0 100px 0 0;
  float: right;
  line-height: 100px;
  font-size: 30px;
}

.signout {
  float: right;
  text-decoration: none;
  color: blue;
}



//signin,signup,signoutの際のやつ
#user {
  &_email {
    border: 1px solid black;
  }
  &_password {
    border: 1px solid black;
  }
  &_password_confirmation {
    border: 1px solid black;
  }
}

//new.html.erb
#comic_title, #comic_volume, #comic_thought {
  border: 1px solid black;
}

//show.html.erb



.uk-slideshow-items {
  background-color: skyblue;
  min-height: 300px;
}

.uk-cover {
  height: calc(100vh - 200px);
}

.back {
  font-size: 30px;
}

.back-new {
  font-size: 17px;
  margin-left: 10px;
}